@-ms-viewport{
  width: device-width;
}

.p-box{
	background-image:url('./images/space5.jpg');
}

.title {
    color: darkslategray;
    font-size: 40px;
    font-weight: 700; 
    text-align: center;
    padding: 3px 5px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    width: 20%;
}

.title-container {
    background-color: violet;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
}

.key {
    margin-right: 2%;
    align-self: center;
    flex-direction: row;
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.key p {
    color :white;
    margin: 2%;
}

.kstart {
    width: 25px;
}

.kgoal {
    width: 25px;
}

.kstart {
    background: white;
    width: 25px;
    height: 25px;
    background-image: url("./images/mars_rover3.png");
    background-color: green;
    border: 1px solid white;
}

.kgoal {
    background: green;
    width: 25px;
    height: 25px;
    background-image: url("./images/stop.png");
    background-color: red;
    border: 1px solid white;
}

.kblock {
    background: white;
    width: 25px;
    height: 25px;
    background-color: #6C6C6C;
    border: 1px solid white;
}

.kpath {
    background: white;
    width: 25px;
    height: 25px;
    background-color: indianred;
    border: 1px solid white;
}

#outcome{
    position: absolute;
    left: 20px;
    top: 580px;
    color:rgb(162, 238, 40);
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    /* font-weight: bolder; */
    font-display: center;     
}

.help {
    width: 20%;
}


.helpbtn {
    color: #ffffff;
    background-color: #FF9000;
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 25px;
}

.start-btn:hover , .gen:hover , .reset-btn:hover{
    background-color: #369682;
    cursor: pointer;
}

.start-btn, .gen , .reset-btn {
    color: #ffffff;
    background-color: #1abc9c;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    font-weight: normal;
    border-radius: 4px;
    padding: 10px 20px;
    width: 10%;
   
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    white-space: nowrap;
}


.buttons {
    background-color: #369682;
    cursor: pointer;
    align-content: center;
    width: 100%;
   

}

.helpbtn:hover {
    background-color: #cc7400;
} 

.check{
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    width: 10%;
}

.option{
font-size: 16px;
}

.sel{
    font-size: 20px;
    border: none;
    border-radius: 5%;
    background-color: #1abc9c;
    height: 45px;
    width: 10%;
    color: #ffffff;
}

.sel:hover{
    background-color: #369682;
}

.weight{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding-left: 10px

}
#wgt{
    width: 1.2em;
    height: 1.2em;
    font-weight: normal;
    font-size: 15px;
}

body {
    overflow: hidden; /* Hide scrollbars */
}
#para{
     align-self: auto;
}
